using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace SWGROI_Server.wwwroot.Styles
{
    class cotizaciones_estilo
    {
    }
}
