## Build & tooling
bin/
obj/
.vs/
*.suo
*.user
*.wsuo
*.v2
*.futdcache.v2
slnx.sqlite

## Node-like
node_modules/

## Archives & temp
*.zip
*.rar
*.7z
tmp_*
temp_*.txt
*backup*
backups/

## Local libraries (to be removed from VCS)
Librerias/MySql.Data.dll

## OS noise
Thumbs.db
.DS_Store
