<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- SWGROI:sesion:2025-09-07 -->
    <add key="SESSION_IDLE_MINUTES" value="30" />
    <add key="SESSION_ABSOLUTE_HOURS" value="8" />
    <!-- SWGROI:ratelimit:global/login -->
    <add key="RATE_LIMIT_GLOBAL_MAX" value="200" />
    <add key="RATE_LIMIT_GLOBAL_WINDOW_SEC" value="60" />
    <add key="RATE_LIMIT_LOGIN_MAX" value="10" />
    <add key="RATE_LIMIT_LOGIN_WINDOW_SEC" value="300" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="Microsoft SqlClient Data Provider" invariant="Microsoft.Data.SqlClient" description="Microsoft SqlClient Data Provider for SqlServer" type="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>